$sg-blue: #1a82e2;
$sg-slate: #294661;
$sg-red: #b71c1c;
$sg-orange: #f90;
$sg-yellow: #fdd835;
$sg-green: #cbdb39;
$sg-gray: #9e9e9e;
$sg-light-gray: #ddd;
$sg-lighter-gray: #eee;

$wp-blue: #1E8CBE;
