@import "variables";

// stylelint-disable-next-line selector-id-pattern
#hamail_fields_to_sync{
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 5px;
}

.hamail-description{
  font-size: 0.9em;
  dt{
    font-weight: 700;
    color: $sg-gray;
    margin: 0 0 5px;
  }
  dd{
    margin: 0 0 10px;
  }
  code{
    display: inline-block;
    font-family: monospace;
    font-weight: 400;
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: $sg-red;
    padding: 2px 3px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.hamail-csv-preview{
  margin-top: 0.5em;
  border-collapse: collapse;
  caption{
    text-align: left;
    color: $sg-gray;
    font-weight: 700;
    font-size: 0.85em;
  }
  th, td{
    padding: 5px;
    text-align: center;
    border: 1px solid $sg-light-gray;
  }
  tr{
    background: $sg-lighter-gray;
    &:nth-child(even) {
      background: $sg-light-gray;
    }
  }
  th{
    font-weight: 700;
  }
  td{
    font-family: monospace;
  }
}

.hamail-format-error{
  margin: 0.25em 0 0.5em;
  font-weight: 700;
  color: $sg-red;
}
